@model Coticula2.Face.Models.Submit

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Submit</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SubmitID" />
        <div class="form-group">
            <label asp-for="ProblemID" class="control-label col-md-2">ProblemID</label>
            <div class="col-md-10">
                <input asp-for="ProblemID" class="form-control" />
                <span asp-validation-for="ProblemID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProgrammingLanguageID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProgrammingLanguageID"
                        asp-items="ViewBag.ProgrammingLanguages"></select>
                <span asp-validation-for="ProgrammingLanguageID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Solution" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Solution" class="form-control" ></textarea>
                <span asp-validation-for="Solution" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubmitTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SubmitTime" class="form-control" />
                <span asp-validation-for="SubmitTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
